@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&family=Poppins:wght@600&display=swap');
body{
    margin:0;
    font-family: 'Poppins', cursive;
    overflow: hidden;
  }
  html{
    scroll-behavior: smooth;
}
  .btn-back{
    width: 120px;
    color:white;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    position: fixed;
    left:4rem;
    top:1rem;
}
.back{
  max-width:100%;
  height:100vh;
  display: grid;
}
.page1{
  background: url("https://images8.alphacoders.com/101/thumb-1920-1015180.jpg");
  background-color: rgb(109, 109, 109);
  background-blend-mode: multiply;
  margin-bottom: 0.1em;
}
.page2{
  background: url("https://images8.alphacoders.com/101/thumb-1920-1015180.jpg");
  background-color: rgb(109, 109, 109);
  background-blend-mode: multiply;
  margin-bottom: 0.1em;
}
.page3{
  background: url("https://images8.alphacoders.com/101/thumb-1920-1015180.jpg");
  background-color: rgb(109, 109, 109);
  background-blend-mode: multiply;
  margin-bottom: 0.1em;
}
.header{
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-shadow: 2em 1em 0.3em hsl(0, 0%, 100%, 0.2);
  padding:1em;
  text-align:center;
  animation:disco 4s alternate infinite linear;
}
@keyframes disco {
  0% {color:#DF8453;}
  20% {color:#3D8DAE;}
  40% {color: hsl(59, 76%, 89%);}
  60% {color: #ACCFCB;}
  80% {color: rgb(204, 205, 247);}
  100% {color: rgb(240, 213, 253);}
}
#semi{
  animation:discosemi 4s alternate infinite linear;
}
@keyframes discosemi {
  0% {color:rgb(231, 200, 245) ;}
  20% {color:  #E4A9A8;}
  40% {color: #DF8453;}
  60% {color: rgb(253, 252, 209);}
  80% {color: #17494D;}
  100% {color: rgb(253, 213, 213);}
}
.content-1{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  left: 10%;
  transform: translateY(25%);
  z-index: 1;
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-2{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(25%) translateX(60%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-3{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(30%) translateX(70%); 
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-4{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(35%) translateX(20%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-5{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(25%) translateX(60%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-6{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(25%) translateX(60%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-7{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(25%) translateX(60%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-8{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(25%) translateX(60%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-9{
  text-indent: 2em;
  position: relative;
  background-color: rgba(22, 22, 22, 0.5);
  max-width:1000px;
  max-height:750px;
  font-size: 20px;
  border-radius:2em;
  padding:1em;
  transform: translateY(25%) translateX(60%);
  transition: 0.5s;
  color:white;
  opacity:1;
}
.content-1:hover{
  transform: scale(1.1,1.1) translateY(25%);
}
.content-2:hover{
  transform: scale(1.1,1.1) translateY(25%) translateX(60%);
}
.content-3:hover{
  transform: scale(1.2,1.2) translateY(30%) translateX(50%);
}
.content-4:hover{
  transform: scale(1.1,1.1) translateY(35%) translateX(20%);
}
.content-5:hover{
  transform: scale(1.1,1.1) translateY(25%) translateX(60%);
}
.content-6:hover{
  transform: scale(1.1,1.1) translateY(25%) translateX(60%);
}
.content-7:hover{
  transform: scale(1.2,1.2) translateY(25%) translateX(60%);
}
.content-8:hover{
  transform: scale(1.1,1.1) translateY(25%) translateX(60%);
}
.content-9:hover{
  transform: scale(1.1,1.1) translateY(25%) translateX(60%);
}
#image-profile-1{
  background-color: aliceblue;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  transform: translateY(-70%) rotateZ(8deg);
  left: 70%;
  position:relative;
  padding:0.5em;
  max-width: 15%;
  animation: dukdig 1s infinite alternate;
  border-radius: 10px;
}
#image-profile-2{
  background-color: aliceblue;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  transform: translateY(-80%) rotateZ(10deg);
  left: 10%;
  position:relative;
  padding:0.5em;
  max-width: 15%;
  animation: dukdig1 1s infinite alternate;
  animation-delay: 0.1s;
  z-index:0;
  border-radius: 10px;
}
#image-profile-3{
  background-color: aliceblue;
  position:relative;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  padding:0.5em;
  max-width:15%;
  bottom: auto;
  border-radius: 10px;
  transform: translateY(-70%) rotateZ(-8deg);
  left: 13%;
  animation: dukdig3 1s infinite alternate;
  animation-delay: 0.3s;
  z-index: 0;
}
#image-profile-4{
  background-color: aliceblue;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  transform: translateY(-60%) rotateZ(8deg);
  left: 70%;
  position:relative;
  padding:0.5em;
  max-width: 12%;
  animation: dukdig4 1s infinite alternate;
  border-radius: 10px;
}
#image-profile-5{
  background-color: aliceblue;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  transform: translateY(-80%) rotateZ(10deg);
  left: 10%;
  position:relative;
  padding:0.5em;
  max-width: 20 %;
  animation: dukdig1 1s infinite alternate;
  animation-delay: 0.6s;
  z-index:0;
  border-radius: 10px;
}
#image-profile-6{
  background-color: aliceblue;
  position:relative;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  padding:0.5em;
  max-width:20%;
  bottom: auto;
  border-radius: 10px;
  transform: translateY(-60%) rotateZ(-8deg);
  left: 10%;
  animation: dukdig6 1s infinite alternate;
  animation-delay: 0.3s;
  z-index: 0;
}
#image-profile-7{
  background-color: aliceblue;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  transform: translateY(-70%) rotateZ(8deg);
  left: 70%;
  position:relative;
  padding:0.5em;
  max-width: 15%;
  animation: dukdig 1s infinite alternate;
  border-radius: 10px;
}
#image-profile-8{
  background-color: aliceblue;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  transform: translateY(-80%) rotateZ(10deg);
  left: 10%;
  position:relative;
  padding:0.5em;
  max-width: 20%;
  animation: dukdig1 1s infinite alternate;
  animation-delay: 0.4s;
  z-index:0;
  border-radius: 10px;
}
#image-profile-9{
  background-color: aliceblue;
  position:relative;
  box-shadow: 1em 1em 10em hsla(0, 0%, 100%, 0.4);
  padding:0.5em;
  max-width:20%;
  bottom: auto;
  border-radius: 10px;
  transform: translateY(-40%) rotateZ(-8deg);
  left: 10%;
  animation: dukdig2 1s infinite alternate;
  animation-delay: 0.3s;
  z-index: 0;
}
@keyframes dukdig{
from{transform: translateY(-70%) rotateZ(8deg);}
to{transform: translateY(-74%) rotateZ(8deg);}
}
@keyframes dukdig1{
  from{transform: translateY(-80%) rotateZ(8deg);}
  to{transform: translateY(-84%) rotateZ(8deg);}
}
@keyframes dukdig2{
  from{transform: translateY(-40%) rotateZ(-8deg);}
  to{transform: translateY(-44%) rotateZ(-8deg);}
}
@keyframes dukdig3{
  from{transform: translateY(-70%) rotateZ(-8deg);}
  to{transform: translateY(-74%) rotateZ(8deg);}
}
@keyframes dukdig4{
  from{transform: translateY(-60%) rotateZ(8deg);}
  to{transform: translateY(-64%) rotateZ(8deg);}
}
@keyframes dukdig6{
  from{transform: translateY(-60%) rotateZ(-8deg);}
  to{transform: translateY(-64%) rotateZ(-8deg);}
}
.progress{
  position: fixed;
  top:20%;
  right: -370px;
  z-index: 999;

}
.progress ul{
  position: relative;
  list-style: none;
  height: 400px;
  width: 460px;
  display:flex;
  flex-flow: column;
  justify-content: center;
}
.progress ul li a{
  display: inline-block;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: #333;
  line-height: 40px;
  color:white;
  text-decoration: none;
  border-radius: 20%;
  font-weight: bolder;
  transition: 0.5s;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.progress ul  a:hover{
  background: rgb(146, 136, 136);
  transform: scale(1.3,1.3);
}
.bar:hover .butt{
  opacity: 1;
  pointer-events: auto;
}
.bar{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.butt{
  float: right;
  position: absolute;
  background:#333;
  color:rgb(255, 246, 246);
  border-radius: 1em;
  padding: 10px;
  margin-right: 20px;
  font-size:20px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}
