@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&family=Kanit:wght@300&family=Lobster&family=Poppins:wght@600&display=swap');
body{
    background: linear-gradient(to bottom,#000000,#1E1E2F);
    margin:0;
    letter-spacing: 1px;
    font-family: 'Kanit', cursive;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}

section{
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.myAudio{
    width: 10vw;
    height: 2vw;
    position:relative;
    display: grid;
    justify-content: center;
    margin: 0 auto;
}


.header{
    position: relative;
    margin:0;
    padding: 0;
    background-size: cover;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:90px;
    left:5%;
    z-index: 1;
}
.header-box{
    position: relative;
    padding: 1rem;
    text-align: left;
    max-width:50vw;
    max-height:50vw;
    font-weight: bolder;
    top:-65px;
}
#sec0 .header-box{
    animation: moveright 2s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.header-box p{
    font-size: 1.2vw;
    color:rgb(201, 200, 200);
    text-indent: 2em;
    padding: 1rem;
    background-color: rgb(0,0,0,.4);
    border-radius: 10px;
}
.header-content h1{
    position: relative;
    color:rgb(0, 0, 0, 0);
    font-size:4vw;
    letter-spacing: 1px;
    line-height: 1.5;
    
}
.header-content h1::before{
    content: attr(data-text);
    position: absolute;
    width: 0%;
    top:0;
    max-height: 100%;
    color: white;
    border-right: 5px white solid ;
    -webkit-text-stroke: 0vw #FFFF;
    overflow: hidden;
    animation: animate 16s infinite linear;
}

@keyframes animate{
    0%,10%,100%{
        width: 0%;
    }
    70%, 90%{
        width: 100%;
    }
}


@keyframes moveright{
    0%{opacity: 0;
    visibility: visible;}
    100%{opacity: 1;
        visibility: visible;}
}
.myVid{
    position: absolute;
    top:18vw;
    right:12vw;
    z-index: 1;
    width: 25vw;
    height: 15vw;
}
iframe{
    width: 100%;
    height: 100%;
}

.btn-back{
    width: 120px;
    color:white;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    position: fixed;
    left:4rem;
    top:2.5rem;
}
.btn-back img{
    width:30px;
    position: relative;
    top:-5px;
    right:10px;
}

.btn-back:hover{
    transform: scale(1.1);
}

.container{
    max-width:100%;
    height:500vh;
    display: grid;
}
.container section{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    border-bottom: solid white;
    border-top: solid white;
}
.container .header-bg{
    position: absolute;
    width: 100%;
    height: 100%;
}



.progress{
    position: fixed;
    top:30%;
    right: -370px;
    z-index: 999;

}
.progress ul{
    position: relative;
    list-style: none;
    height: 400px;
    width: 460px;
    display:flex;
    flex-flow: column;
    justify-content: center;
}
.progress ul li a{
    display: inline-block;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: #333;
    text-align: center;
    line-height: 40px;
    color:white;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bolder;
    transition: 2s;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}


.progress ul  a:hover{
    background: rgb(146, 136, 136);
    transform: scale(1.1);
}
.bar:hover .butt{
    opacity: 1;
    pointer-events: auto;
}

.soviet_planning{
    position: relative;
    width: 100%;
    height: 100%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.soviet_planning .box_right{
    position: absolute;
    text-align: left;
    max-width:50vw;
    color:white;
    right:90px;
}
.soviet_planning .box_right p{
    text-indent: 2rem;
    font-size: 1.4vw;
    padding: 1rem;
    background-color: rgb(0,0,0,.6);
    border-radius: 10px;
}
.soviet_planning .box_left{
    position: absolute;
    text-align: left;
    max-width:50vw;
    color:white;
    left:90px;
}
.soviet_planning .box_left p{
    text-indent: 2rem;
    font-size: 1.4vw;
    padding: 1rem;
    background-color: rgb(0,0,0,.6);
    border-radius: 10px;
}
.box_right h1{
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}

.box_left h1{
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline
}

.soviet_planning img{
    max-width: 30vw;
    box-shadow: 5px 2px 5px #121213;
}
.left{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left:10vw;
    top:18vw;
}
.left img{
    transform: rotateZ(-3deg);
    box-shadow: 5px 7px 3px #121213;
    border: 2px solid white;
    
}
.right img{
    transform: rotateZ(3deg);
    box-shadow: 5px 7px 3px #000000;
    border: 2px solid white;
}
.right{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right:10vw;
}

.container h1{
    font-size: 3vw;
}
.bar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

.butt{
    float: right;
    position: absolute;
    background:#333;
    color:rgb(255, 246, 246);
    border-radius: 25px;
    padding: 10px;
    margin-right: 20px;
    font-size:20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: rgb(141, 139, 139);
}
    
::-webkit-scrollbar-track {
    border: 1px solid rgb(65, 63, 63,0.6);
}

::-webkit-scrollbar-thumb {
    background: black;  
    border-radius: 10px;
}



::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);  
}

.decoration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    position: fixed;
    opacity: 1;
    z-index: 0;
}

.num{
    position: absolute;
    max-width: 4vw;
}

@keyframes one{
    0%, 100% {
        transform: translateX(-1000px) translateY(-500px) rotate(0deg);
      }
      50% {
        transform: translateX(1025px) translateY(1200px) rotate(360deg);
      }
      25%{
        transform: translateX(1025px) translateY(-200px) rotate(360deg);
      }
}

@keyframes two{
    0%, 100% {
        transform: translateX(900px) translateY(-300px) rotate(0deg);
      }
     25%{transform: translateX(800px) translateY(600px) rotate(360deg)}
     50%{transform: translateX(-1000px) translateY(300px) rotate(0deg)}
     70%{transform: translateX(-800px) translateY(-200px) rotate(360deg)}
}

@keyframes three{
    0%, 100% {
        transform: translateX(-800px) translateY(500px) rotate(0deg);
      }
    50%{
        transform: translateX(800px) translateY(-500px) rotate(360deg);
    }
    
}
#sec0 .header-bg{
    opacity: 1;
}


.header-bg{
    width: 100%;
    opacity: .1;
    height: 100vh;
    z-index: -999;
}   

.one{
    animation: one 15s linear infinite ;
    transform-origin: center;
}
.two{
    animation: two 20s linear infinite alternate;
    transform-origin: center;
}
.three{
     animation: three 25s linear infinite alternate;
    transform-origin: center;
}
