@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&family=Poppins:wght@600&display=swap');
@import "susy";
@import "compass/reset";
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 400vh;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
}
.background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page h1{
    color: white
}
.page p{
    color: white;
    text-indent: 2rem;
    font-size: 25px;
    padding: 1rem;
    background-color: rgba(210, 210, 210,0.1);
    border-radius: 10px;
}
.p1{
    background: none;
}
.p2{
    background: none;
}
.p3{
    background: none;
}
.page{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    z-index: 4;
    
}
.d1{
    background-color: none;
    position: absolute;
    right: 90px;
    top: 170px;
    width: 40%;
}
.d2{
    background-color: none;
    position: absolute;
    left: 90px;
    top: 120px;
}
.d2 p{
    font-size: 20px;
}
.d3{
    background-color: none;
    position: absolute;
    right: 90px;
    top: 150px;
}
.a1 img{
    position: absolute;
    left: 150px;
    max-width: 600px;
    max-height: 500px;
    top: 180px;
    z-index: 3;
    border: 2px solid white;
}
.a2 img{
    position: absolute;
    right: 160px;
    max-width: 600px;
    max-height: 500px;
    top: 170px;
    z-index: 3;
    border: 2px solid white;
}
.a3 img{
    position: absolute;
    left: 130px;
    max-width: 500px;
    height: 500px;
    top: 150px;
    z-index: 3;
}
.content2 {
    height:50%;
    border-radius: 5em;
    list-style: none;
    position: fixed;
    z-index:1;
    top:20%;
    right: 17px;
    flex-flow: column;
    display: flex;
    justify-content: center;
    z-index: 4;
}
.botton ul li a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    z-index: 1;
}
.botton{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.botton ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.btn-back{
    width: 120px;
    color:white;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    position: fixed;
    left:4rem;
    top:2.5rem;
    z-index: 4;
}
.btn-back img{
    width:30px;
    position: relative;
    top:-5px;
    right:10px;
}

.btn-back:hover{
    transform: scale(1.1);
}

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.backgroundinside1 {
    position:absolute;
	display:block;
	top:0; 
    bottom:0;
	left:0; 
    right:0;
    width: 100%;
    height: 100%;
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.backgroundinside2{
    position:absolute;
	display:block;
	top:0; 
    bottom:0;
	left:0; 
    right:0;
    width: 100%;
    height: 100%;
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.backgroundinside3{
    position:absolute;
	display:block;
	top:0; 
    bottom:0;
	left:0; 
    right:0;
    width: 100%;
    height: 100%;
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

