@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&family=Kanit:wght@300&family=Lobster&family=Poppins:wght@600&display=swap');
body{
    background: linear-gradient(to bottom,rgb(41, 36, 33),rgb(32, 28, 26));
    margin:0;
    padding: 0;
    max-width: 100%;
    letter-spacing: 1px;
    font-family: 'Kanit', cursive;
    scroll-behavior: smooth;
    overflow: hidden;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 4vw;
    font-weight: bolder;
    left:25%;
    top:60px;
    animation: moveright 2s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 3s infinite;
    animation-delay: calc(.2s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}
.myAudio{
    position:absolute;
    right: 20px;
}
.header{
    
    background-size: cover;
    
}
.header .header-bg {
    position: relative;
    width: 100%;
   
}
.header-content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:150px;
}

.header-content h1{
    position: relative;
    color:rgb(0, 0, 0, 0);
    letter-spacing: 1px;
    line-height: 1.5;
    transition: 2s;
}
.header-content h1::before{
    content: attr(data-text);
    position: absolute;
    width: 0%;
    top:0;
    height: 100%;
    color: rgb(0, 0, 0);
    border-right: 5px white solid ;
    -webkit-text-stroke: 0vw rgb(0, 0, 0);
    overflow: hidden;
    animation: animate 16s infinite linear;
}

@keyframes animate{
    0%,10%,100%{
        width: 0%;
    }
    70%, 90%{
        width: 100%;
    }
}

.btn-back{
    width: 120px;
    color:white;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    position: fixed;
    left:4rem;
    top:2.5rem;
}
.btn-back img{
    width:30px;
    position: relative;
    top:-5px;
    right:10px;
}

.btn-back:hover{
    transform: scale(1.1);
}
.container{
    max-width:100%;
    height:600vh;
    display: grid;
}
.container .header-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.container section{
    margin: 0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.progress{
    position: fixed;
    top:30%;
    right: -370px;

}
.progress ul{
    position: relative;
    list-style: none;
    height: 400px;
    width: 460px;
    display:flex;
    flex-flow: column;
    justify-content: center;
}
.progress ul li a{
    display: inline-block;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: #333;
    text-align: center;
    line-height: 40px;
    color:white;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bolder;
    transition: 2s;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.progress ul  a:hover{
    background: rgb(146, 136, 136);
    transform: scale(1.2);
}
.bar:hover .butt{
    opacity: 1;
    pointer-events: auto;
}

.soviet_planning{
    position: relative;
    width: 100%;
    height: 100%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.soviet_planning .box_right{
    position: absolute;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:900px;
    color:white;
    right:90px;
}
.soviet_planning .box_right p{
    text-indent: 2rem;
    font-size: 1.4vw;
    padding: 1rem;
    background-color: rgba(70, 56, 47, 0.4);
    border-radius: 10px;
}
.soviet_planning .box_left{
    position: absolute;
    text-align: left;
    max-width:900px;
    color:white;
    left:90px;
}
.soviet_planning .box_left p{
    text-indent: 2rem;
    font-size: 1.4vw;
    padding: 1rem;
    background-color: rgba(70, 56, 47, 0.4);
    border-radius: 10px;
}
.box_right h1{
    width: 100%;
    font-size: 2.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.box_left h1{
    width: 100%;
    font-size: 2.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.soviet_planning img{
    max-width: 30vw;
    box-shadow: 5px 2px 5px #121213;
}
.left{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left:12vw; 
}
.left img{
    transform: rotateZ(-3deg);
    box-shadow: 5px 7px 3px #121213;
    border: 2px solid white;
    
}
.right img{
    transform: rotateZ(3deg);
    box-shadow: 5px 7px 3px #000000;
    border: 2px solid white;
}
.right{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right:12vw;
    margin:20px;
}
.box_left img{
    max-width: 8vw;
    margin-right: 30px;
    
}
.box_right img{
    max-width: 8vw;
    margin-right: 30px;
}

.bar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

.butt{
    float: right;
    position: absolute;
    background:#333;
    color:rgb(255, 246, 246);
    border-radius: 25px;
    padding: 10px;
    margin-right: 20px;
    font-size:20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: rgb(141, 139, 139);
}
    
::-webkit-scrollbar-track {
    border: 1px solid rgb(65, 63, 63,0.6);
}

::-webkit-scrollbar-thumb {
    background: black;  
    border-radius: 10px;
}



::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);  
}
#sec0 .header-bg{
    opacity: 1;
}
.header-bg{
    width: 100%;
    opacity: .1;
    height: 1000px;
    z-index: -999;
}   

.decoration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    position: fixed;
    opacity: 1;
    z-index: 0;
}

.num{
    position: absolute;
    max-width: 15vw;
}
.one{
    animation: moveright1 15s infinite linear ;
}

@keyframes moveright1{
    0%{transform: translateX(-1000px) translatey(450px);}
    100%{transform: translateX(1000px) translatey(450px);}
}

@keyframes moveright{
    0%{opacity: 0;
    visibility: visible;}
    100%{opacity: 1;
        visibility: visible;}
}