@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&family=Kanit:wght@300&family=Lobster&family=Poppins:wght@600&display=swap');
*{
    scroll-behavior: smooth;    
}
body {
    background: #1E1E2F;
    margin: 2rem auto;
    padding-bottom: 1em;
    letter-spacing: 1px;
    line-height: 1.3;
    font-family: 'Noto Sans Thai', sans-serif;
}

.container{
    position: relative;
    padding: 2vw 12vw;
    transition: 2s;
    overflow: hidden;
    color: #fff;
    font-size: 1.2vw;
    width: 65%;
    height: 100vh;
}
.content{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    text-indent: 2em;
    background-color: rgb(48,48,48);
    border-radius: 2%;

}
.tag{
    position: relative;
    z-index: 1;
    padding:50px 10px;
    font-size: 2vw;
    text-decoration:underline;
}


.btn-back{
    width: 120px;
    color:white;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    position: absolute;
    left:4rem;
    top:2.5rem;
}
.btn-back img{
    width:30px;
    position: relative;
    top:-5px;
    right:10px;
}

.btn-back:hover{
    transform: scale(1.1);
}
.head{
    transform: translateX(-11.5vw);
    position: absolute;
    visibility:hidden;
    font-size: 1.6vw;
    background-color: rgb(146, 136, 136);
    width: 10vw;
    border-radius: 10%;
}   
.checkpoint ul li a:hover{
    background-color: rgb(146, 136, 136);
    
}
ul li:hover .head{
    visibility:visible;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;  
    border-radius: 10px;
}
        
::-webkit-scrollbar-thumb:hover {
    background: white;  
} 