@media only screen and (max-width: 900px) {
    .soviet_planning img{
        max-width: 300px;
        max-height: 300px;
    }
    .left img{
        transform: rotateZ(0deg);
        
    }
    .right img{
        transform: rotateZ(0deg);
    }
    .container section{
        flex-direction: column;
    }
  }


