.canvas-warp{
    position: relative;
    width:1280px;
    height:720px;
}

canvas {
    border: 5px solid black;
    border-radius: 50px;
    position: absolute;
    z-index: 0;
}

body{
    background-image: url("../static/gameBg.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;       
}

#quest{
    position: absolute;
    background: rgb(0,0,0);
    border-radius: 10px;
    z-index: 20;
    width:280px;
    height:100px;
    right: 2vw;
    top:2vw;
    justify-content: center;
    display: none;
    flex-direction: column;
}

#quest h1{
    color:white;
    margin-left:10px;
    font-size:15px;
}

#quest p{
    color:white;
    font-size:13px;
}

#controll{
    z-index: 1000000;
    width:1280px;
    height:720px;
    top:0%;
    position: absolute;
    border-radius: 10px;
    z-index: 4;
    background: url('img/1.png');
    display:grid;
    border: black solid 5px;
}

.back {
    color:white;
    position: absolute;
    bottom:3em;
    left:6.5em;
    cursor:pointer;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    background-color: black;
    padding: 0.4em;
    border-radius: 10px;
}
.back:hover {
    transform: translateY(-5px);
}

.back:active {
    transform: translateY(-3px);
}

.skip{
    color:white;
    position: absolute;
    bottom:3em;
    right:6.5vw;
    cursor:pointer;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    background-color: black;
    padding: 0.4em;
    border-radius: 10px;
}

.skip:hover {
    transform: translateY(-5px);
}

.skip:active {
    transform: translateY(-3px);
}

.main {
    padding-bottom: 3em;
}

#ChangeBG{
    width:1280px;
    height:720px;
    position: absolute;
    z-index: 1;
    background:black;
    border: 5px solid black;
    border-radius: 50px;
    opacity: 0;
}

#pauseBG{
    width:500px;
    height:500px;
    top:250px;
    position: absolute;
    z-index: 2;
    background: url('img/p.png');
    display:none;
}


@keyframes wipwup{
    0%{opacity: 1;}
    100%{opacity: 0;}
}


body{
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.all{
    position: relative;
}
.inall{
    position: absolute; 
    bottom: 299px;
    left: 105px;
}

