canvas {
    border: 5px solid black;
    border-radius: 50px;
    position: relative;
    z-index: 0;
}

#ChangeBG{
    width:1280px;
    height:720px;
    position: absolute;
    z-index: 1;
    background:black;
    opacity: 0;
}
@keyframes wipwup{
    0%{opacity: 1;}
    100%{opacity: 0;}
}


body{
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.all{
    position: relative;
}
.inall{
    position: absolute; 
    bottom: 299px;
    left: 105px;
}

