canvas {
    border: 5px solid black;
    position: relative;
    z-index: 0;
    animation: ChangeBG 1s linear infinite;
}

@keyframes ChangeBG{
    0%{filter: brightness(1)};
    50%{filter: brightness(0)}
    100%{filter: brightness(1)};
}

body{
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.all{
    position: relative;
}
.inall{
    position: absolute; 
    bottom: 299px;
    left: 105px;
}

